.main {
    margin-top: 10px;
    margin-left: 10px;
}

.title {
    color: white;
    padding-bottom: 10px;
}


.emptyArr {
    color: white;
}

.friends {
    color: white;
    list-style-type: none;
    margin: 5px;
}
